MIN_TDP=5000
DEFAULT_TDP=9000
MAX_CPU_TDP=18000
STEP_TDP=10000
RYZENADJ_EXEC=ryzenadj
RYZENADJ_DELAY=4
MONITOR_INTERVAL=3
STABLE_SAMPLE_COUNT=2
BATTERY_MAX_TDP=18000
DEVICE_PROFILE=
DEVICE_PROFILE_FILE=/etc/AutoTDP/known_devices.json
PERFORMANCE_MODE=balanced
GAME_PROFILE_FILE=/etc/AutoTDP/game_profiles.json
